benedict~=0.3.2
category_encoders~=2.2.2
importlib_resources~=5.2.0
ipython~=8.4.0
joblib~=1.1.0
jsonlines~=3.1.0
keras~=2.9.0
matplotlib~=3.5.1
numpy~=1.23.0
pandas~=1.4.3
pm4py~=2.2.20.1
python_benedict~=0.25.1
scikit_learn~=1.1.1
scipy~=1.8.1
tensorflow~=2.9.1
textdistance~=4.2.1
tqdm~=4.63.0
~andas~=1.4.3
